version: '3.8'

services:
    db:
      image: postgres:15
      environment:
        - POSTGRES_DB=hackathon
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=admin
      ports:
        - "5433:5432"
      volumes:
        - ./data/events.sql:/docker-entrypoint-initdb.d/events.sql
      restart: unless-stopped

    app:
      build: .
      ports:
        - "8000:8000"
      environment:
        - DB_HOST=db
        - DB_PORT=5432
        - DB_NAME=hackathon
        - DB_USER=postgres
        - DB_PASSWORD=admin
        - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
        - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
        - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN}
        - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      extra_hosts:
        - "host.docker.internal:host-gateway"
      volumes:
        - ./static:/app/static
        - ./templates:/app/templates
      restart: unless-stopped